@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-primary: #0ea5e9; /* sky-500 */
  --color-primary-dark: #0284c7; /* sky-600 */
  --color-accent: #f43f5e; /* rose-500 */
  --color-accent-light: #fb7185; /* rose-400 */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased text-slate-800 bg-slate-50;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-slate-900;
  }
}
